#Home_discount{
  background-color: #fff;
  h2 {
    font-size: 16Px;
    font-weight: 700;
    padding: 10Px 15Px;
    border-bottom: 1Px solid #f1f1f1;
  }

  .ad-container {
    box-sizing: border-box;
    width: 100%;
    padding: 10Px 15Px;
  }

  .ad-item222 {
    width: 33.3%;
    height: 160Px;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .float-left{
    float: left;
  }
}