@import "variables";
@import "common";
@import "swiper.css";
@import "reset.css";

.wrapper{
	margin: 50px auto;
	width: 80%;
	text-align: center;
	#btn{
		margin: 0 auto;
	}
	#para{
		padding: 10px 20px;
		border: 1px solid #ccc;
		border-radius:  $base-radius;
	}
}

.links{
	position: relative;
	display: flex;
	&:after{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1PX;
		content: '';
		background-color: #ccc;
	}
	li{
		flex-grow: 1;
		a{
			display: block;
			padding: 30px 0;
			text-align: center;
		}
		&.active{
			background-color: red;
			a{
				color: #fff;
			}
		}
	}
}